input, select, textarea
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.BtnRecherche {
    width: 100px;
    border-Left-style: solid;
    border-top-style: none;
    border-Right-style: none;
    border-bottom-style: solid;
    border-Left-style: none;
    border-bottom-color: #777;
    background-color: transparent;
    color: #777;
}

#CPHMain_upmain input, #CPHMain_upmain select {
    height: 28px;
    line-height: 28px;
    margin-top: 10px;
    padding-right: 15px;
    width: 50%;
}
#CPHMain_upmain textarea {
   height:56px;
   width : 50%;
   line-height: 28px;
   margin-top: 10px;
   padding-right: 15px;
}

#CPHMain_CBCyclEnse input {
   width: auto;
}

table#CPHMain_CBCyclEnse tr {
    background: none repeat scroll 0 0 white;
}

table#CPHMain_CBCyclEnse {
    width: 100%;
}

.buttonStyle {
    border-left-style: solid;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-bottom-color: #777;
    background-color: transparent;
    color: #777;
    cursor: pointer;
    text-decoration: none;

}


/* formulaire d'enregistrement */

#fos_user_registration_form input , #fos_user_registration_form select {
    font-style: oblique;
    height: 28px;
    padding-right: 10px;
    width: 35%;
}

#fos_user_registration_form label {
    display: block;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    width: 30%;
}

#fos_user_registration_form > div {
    margin-bottom: 20px;
}

form.fos_user_registration_register {
    font-size: 14pt;
    padding-right: 10px;
    padding-top: 10px;
    background-color:#EEEEEE;
    border-color:#EEEEEE;
    border-style:None;
}


/* fin formulaire d'enregistrement */