

/* css nomenclature */
form[name="nomenclature_sise"] #nomenclature_sise input, form[name="nomenclature_sise"] #nomenclature_sise select {
    font-style: oblique;
    min-height: 28px;
    padding-right: 10px;
    width: 35%;
}



 form[name="nomenclature_sise"] #nomenclature_sise label {
    display: block;
    float: right;
    font-size: 18px;
    font-weight: bold;
    min-height: 28px;
    line-height: 28px;
    width: 30%;
}

form[name="nomenclature_sise"] #nomenclature_sise > div{
    margin-bottom: 20px;
}
form[name="nomenclature_sise"] #nomenclature_sise > div > .btn-group{
    width: 35%;
    float: right;
    position: relative;
}

form[name="nomenclature_sise"] #nomenclature_sise > div > .btn-group  button{
    min-height: 28px;
    width: 100%;
}
  form[name="nomenclature_sise"]{
    font-size: 14pt;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    border-style: None;
}

#id_with_js input {
    border-style: none;
    width: 100%;
    text-align: center;

}

#id_with_js td {
    text-align: center;

}
form[name="nomenclature_sise"] #nomenclature_sise   {
    width: 100%;
    clear: both;
display: inline-block;
}
form[name="nomenclature_sise"] #nomenclature_sise    div{
    width: 100%;
    float: left;
    text-align: right;
}

form[name="nomenclature_sise"] #nomenclature_sise   label{
    width: 20%;

}
#nomenclature_sise ul li {
    float: left;
    list-style: outside none none;
    width: 100%;
}

#nomenclature_sise ul.tags li div{

    padding-right: 10px;
    margin-bottom: 10px;
}


#nomenclature_sise ul.tags li div:nth-child(2n) {
    width: 40%;
}


#nomenclature_sise ul.tags li div:nth-child(2n+1) {
    width: 20%;
}
#nomenclature_sise ul.paraexog li  {

}
#nomenclature_sise ul.paraexog li div {
    width: 40%;
    padding: 5px;
}


form[name="nomenclature_sise"] #nomenclature_sise ul.tags li div  input , form[name="nomenclature_sise"] #nomenclature_sise ul.tags li div  select {
    width: 100%;
}



form[name="nomenclature_sise"] #nomenclature_sise ul.paraexog li div  input , form[name="nomenclature_sise"] #nomenclature_sise ul.paraexog li div  select {
    width: 100%;
}


form[name="nomenclature_sise"] #nomenclature_sise   input[type="checkbox"]{
    min-height:inherit;
    width: 15px;
    padding: 0;
    margin: 0;
}
form[name="nomenclature_sise"] #nomenclature_sise .multiselect-container {

    width: 100%;
}
form[name="nomenclature_sise"] #nomenclature_sise .multiselect-container li {
    width: 100%;
    float: left;

}

form[name="nomenclature_sise"] #nomenclature_sise .multiselect-container li a label {
font-size: 12px;
    color: #000000;
    line-height: 14px;
    width: 52%;
    text-align: right;
}

form[name="nomenclature_sise"] #nomenclature_sise .multiselect-container li a label input[type="checkbox"]{
  padding: 0 !important;
    margin: 0;
    height: 14px !important;
    width: 15px !important;
    min-height: 14px !important;
}

/* fin css nomenclature */



/* added css by Ramzi */
form[name="nomenclature_sise"] #nomenclature_sise  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
input#nomenclature_sise_acti
{
    display:inline-block;
    height:17px;
    width:35%;
}
form[name="nomenclature_sise"] #nomenclature_sise  .open>.dropdown-menu {
    display: block;
}
/* fin added  css */

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}


form[name="nomenclature_sise"] #nomenclature_sise   .btn-group.list > ul {
    display: inline-block;
    width: 35%;
}

form[name="nomenclature_sise"] #nomenclature_sise  #list_items_choices.btn.btn-default {
    line-height: 28px;
    min-height: 28px;
    min-width: 94%;
}

form[name="nomenclature_sise"] #nomenclature_sise   .btn-group.list > ul li label {
    width: 80%;
}

body, a {
    color: #3B4C56;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}
#logo
{
    width: 505px;
    margin: 0 auto;
    text-align: center;
}
#pgtitle
{
    margin: 0px 0px 20px;
    font-size: 18pt;
}

a{
    cursor:pointer;
}
.tree {
    direction: rtl;
    padding-right: 5px;
}
.tree ul {
    list-style: none outside none;
}
.tree li a {
    line-height: 25px;
    padding-right: 30px;
}
.tree > ul > li > a {
    color: #3B4C56;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}
.tree li.parent > a {
    padding: 0 27px 0 28px;
}
.tree li.parent > a:before {
    background-image: url("../images/plus_minus_icons.gif");
    background-position: 25px center;
    content: "";
    display: block;
    height: 21px;
    right: 0;
    position: absolute;
    top: 2px;
    vertical-align: middle;
    width: 23px;
}
.tree ul li.active > a:before {
    background-position: 0 center;
}
.tree ul li ul {
    border-right: 1px solid #D9DADB;
    display: none;
    margin: 0 9px 0 12px;
    overflow: hidden;
    padding: 0 0 0 25px;
}
.tree ul li ul li {
    position: relative;
}
.tree ul li ul li:before {
    border-bottom: 1px dashed #E2E2E3;
    content: "";
    right: 2px;
    position: absolute;
    top: 12px;
    width: 15px;
}
#wrapper {
    margin: 0 auto;
    width: 300px;
}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    margin: 350px 0 0 0;
    background-color: #fea489;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    text-align:center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-weight: bold
}

.modal-body {
    position: relative;
    text-align:center;
    color: #cd0a0a;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-weight: bold
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }

    .modal-sm {
        width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px
    }
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}


