<div id="menu">

<div>
<table>
<tbody>
<tr>
    <td>مجال التنظيم البيداغوجي </td>
</tr>
<tr>
    <td><a href="CycleEnseignement"> {{ 'CycleEnseignement'|trans({}, 'SiseCoreBundle') }}</a></td>
<tr>
    <td><a href="NiveauScolaire"> المستوى الدراسي </a></td>
</tr>
<tr>
    <td><a href="Filiere"> الشعبة </a></td>
</tr>

<tr>
    <td><a href="Discipline"> مادّة التدريس </a></td>
</tr>

<tr>
    <td> <a href="MatiereOptionnelle"> موادّ التدريس الاختيارية </a></td>
</tr>

<tr>
    <td><a href="SourceProvonance">  مصدر الإلتحاق بالمؤسسة </a></td>
</tr>
<tr>
    <td>مجال الموارد البشرية</td>
</tr>
<tr>
    <td><a href="Genre">  النوع الاجتماعي </a></td>
</tr>
<tr>
    <td><a href="Grade"> الرتبة </a></td>
</tr>

<tr>
    <td><a href="TypeTravail"> نوع التكليف </a></td>
</tr>

<tr>
    <td><a href="Specialite"> الاختصاص </a></td>
</tr>
<tr>
    <td> <a href="HeureEnseignement"> ساعات التدريس </a></td>
</tr>
<tr>
    <td> <a href="CauseRemplacementProvisoire"> سبب التعويض الظرفي </a></td>
</tr>
<tr>
    <td><a href="Diplome"> الشهادة </a></td>
</tr>
<tr>
    <td> <a href="Qualite">  الصفة </a></td>
</tr>
<tr>
    <td> <a href="Corps">  السلك </a></td>
</tr>

<tr>
    <td><a href="SituationFamiliale">  الوضع العائلي </a></td>
</tr>

<tr>
    <td><a href="Profession">  وظيفة القرين </a></td>
</tr>
<tr>
    <td><a href="TypeAffectation">  نوع التعيين </a></td>
</tr>
<tr>
    <td><a href="Fonction"> الخطة الوظيفية </a></td>
</tr>
<tr>
    <td><a href="SituationAdministrative"> الوضع الاداري </a></td>
</tr>
<td> <a href="SousSituationAdministrative"> الوضع الاداري الفرعي </a></td>
</tr>
<tr>
    <td><a href="Tache"> المهام </a></td>
</tr>
<tr>
    <td><a href="LangueEnseignement">لغة التدريس </a></td>
</tr>
<tr>
    <td>مجال التلاميذ </td>
</tr>
<tr>
    <td><a href="DegreHandicap">درجة الإعاقة </a></td>
</tr>
<tr>
    <td><a href="TypeHandicap">نوع الإعاقة </a></td>
</tr>
<tr>
    <td><a href="CategorieNationalite">صنف الجنسية </a></td>
</tr>
<tr>
    <td><a href="Nationalite">الجنسية </a></td>
</tr>
<tr>
    <td>البنية التحتية ، الفضاءات و التجهيزات </td>
</tr>

<tr>
    <td><a href="CategorieEspace">صنف الفضاء </a></td>
</tr>
<tr>
    <td><a href="TypeEspace">نوع الفضاء </a></td>
</tr>
<tr>
    <td><a href="CategorieEquipement">صنف التجهيزات  </a></td>
</tr>
<tr>
    <td><a href="Equipement"> التجهيزات </a></td>
</tr>
<tr>
    <td><a href="TypeCloture">نوع السياج </a></td>
</tr>
<tr>
    <td><a href="TypeLogement">نوع المسكن الوطيفي </a></td>
</tr>
<tr>
    <td><a href="StatusHabitant">الوضعية العقارية </a></td>
</tr>
<tr>
    <td><a href="ProprieteBatiment">ملكية البناءات </a></td>
</tr>
<tr>
    <td><a href="SituationCompteurEauElectricite">وضعية عداد الماء والكهرباء </a></td>
</tr>
<tr>
    <td><a href="RessouceEau">الموارد المائية </a></td>
</tr>
<tr>
    <td><a href="RessourceElectricite">الموارد الكهربائية </a></td>
</tr>
<tr>
    <td><a href="Zone">الوسط </a></td>
</tr>
<tr>
    <td><a href="TypeConnxionInternet">نوع الاتصال بالإنترنت </a></td>
</tr>
<tr>
    <td><a href="SituationReseauElectriqueAtelier">حالة الشبكة الكهربائية بالورشات </a></td>
</tr>
<tr>
    <td>الميزانية </td>
</tr>

<tr>
    <td><a href="TypeRubriqueBudgetaire">نوع بند الميزانية  </a></td>
</tr>
<tr>
    <td><a href="RubriqueBudgetaire">بند الميزانية  </a></td>
</tr>
<tr>
    <td><a href="PeriodeSuiviBudget">فترة رصد الميزانية </a></td>
</tr>
<tr>
    <td>ثوابت أخرى </td>
</tr>

<tr>
    <td><a href="AnneeScolaire">السنة الدراسية </a></td>
</tr>
<tr>
    <td><a href="CategorieActivite">فئة النشاط </a></td>
</tr>
<tr>
    <td><a href="Activite">النشاط </a></td>
</tr>
<tr>
    <td><a href="AnneeNaissance">سنة الولادة </a></td>
</tr>
<tr>
    <td><a href="TypeEtablissement">نوع المؤسسة </a></td>
</tr>
<tr>
    <td><a href="Circonscription">الدائرة </a></td>
</tr>
<tr>
    <td><a href="Delegation">المعتمديّة </a></td>
</tr>
<tr>
    <td><a href="CirconscriptionRegional">المندوبية الجهوية </a></td>
</tr>
<tr>
    <td><a href="Gouvernorat">الولاية </a></td>
</tr>
<tr>
    <td><a href="Observation">الملاحظات </a></td>
</tr>
<tr>
    <td><a href="Secteur">القطاع </a></td>
</tr>
<tr>
    <td><a href="BassinPedagogique">الحوض البيداغوجي </a></td>
</tr>
<tr>
    <td><a href="Indicateur">المؤشرات </a></td>
</tr>
<tr>
    <td><a href="ParametreExogene">المعطيات الخارجية </a></td>
</tr>
<tr>
    <td><a href="Orientation">جدول التوجيه و اعادة التوجيه </a></td>
</tr>
</tbody></table>
</div>

</div>