<tr>
        <td>
            {{ form.vars.name }}
        </td>
        <td align="right">{{ form_widget(form.tablnamefk) }}</td>
        <td align="right">{{ form_widget(form.valeindi) }}</td>
        <td style="border-bottom: black 1px solid; width: 5%;  vertical-align:top">
            <a rel="effectiveeleverepartionelevelieuhabitation_deleteItem" class="delete_handicaps"
               style="display: inline-block">
                <img name="sise_delete_line" id="sise_delete_line"
                     src="/bundles/sisecore/images/16x16/cancel_16.png">
            </a>
        </td>
    </tr>