<div style="width: 1%">
</div>

<div style="width: 35%">
    {{ form_widget(form.lieu|e) }}
</div>
<div style="width: 20%">
    {{ form_widget(form.nombelev|e) }}
</div>

<div style="width: 20%">
    {{ form_widget(form.codedele|e) }}
</div>


<div style="width: 14%">
    {{ form_widget(form.dist|e) }}

</div>