.MainPage .leftMenu {
    float: left;
    width: 75%;
}

.MainPage .rightMenu {
    float: right;
    width: 25%;
}


/* formulaire d'enregistrement */

#fos_user_registration_form input, #fos_user_registration_form select, form[name="securite"] #securite input, form[name="securite"] #securite select  {
    font-style: oblique;
    min-height: 28px;
    padding-right: 10px;
    width: 35%;
}



#fos_user_registration_form label ,  form[name="securite"] #securite label {
    display: block;
    float: right;
    font-size: 18px;
    font-weight: bold;
    min-height: 28px;
    line-height: 28px;
    width: 30%;
}

#fos_user_registration_form > div , form[name="securite"] #securite > div{
    margin-bottom: 20px;
}

form.fos_user_registration_register , form[name="securite"]{
    font-size: 14pt;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    border-style: None;
}

#id_with_js input {
    border-style: none;
    width: 100%;
    text-align: center;

}
form[name="securite"] #securite   #CPHMain_UpRpt{
    width: 100%;
    clear: both;
    float: left;

}
form[name="securite"] #securite   #CPHMain_UpRpt div{
   width: 50%;
    float: left;
    text-align: right;
}

form[name="securite"] #securite   #CPHMain_UpRpt div label{
    width: 80%;

}

form[name="securite"] #securite   #CPHMain_UpRpt input[type="checkbox"]{
    min-height:inherit;
    width: 20px;
}

.MainPage .rightMenu .listLink ul {
    list-style: none;
    padding-right: 5px;

}


form[name="securite"] #securite  table > tbody > tr:nth-of-type(2n+1) {
    background-color: transparent;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
}

form[name="securite"] #securite  table {
    background-color: transparent;
}
form[name="securite"] #securite  table > tbody > tr td table > tbody > tr td{

    border-bottom: black 1px solid;
}
/* fin formulaire d'enregistrement */
