{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <div style="text-align: center; vertical-align: middle;">
            <table width="100%">
                <tbody>
                <tr>
                    <td align="center">
                        <div class="titre">

                            <span id="Label1">وزارة التربية  -  الإدارة العامة للدراسات والتخطيط ونظم المعلومات</span>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="height:400px; vertical-align:middle">
                        <table cellspacing="0" cellpadding="4" id="Login1"
                               style="background-color:#EFF3FB;border-color:#B5C7DE;border-width:1px;border-style:Solid;border-collapse:collapse;">
                            <tbody>
                            <tr>
                                <td>
                                    <table cellpadding="0"
                                           style="color:#333333;font-family:Verdana;font-size:1em;height:162px;width:352px;" dir="rtl">
                                        <tbody>
                                        <tr>
                                            <td align="center" colspan="2"
                                                style="color:White;background-color:#507CD1;font-size:1.1em;font-weight:bold;       height: 36px;
        line-height: 36px;">

                                                تسجيل الدخول
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">

                                                <p class="profile-name"></p>
                                                <label for="Login1_UserName">المستعمل</label></td>
                                            <td>
                                                <input type="text" id="username" name="_username" value="{{ last_username }}"
                                                       required="required"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right"><label for="Login1_Password">كلمة العبور</label></td>
                                            <td><input type="password" id="password" name="_password" required="required"/></td>
                                        </tr>
                                        <tr>
                                            <td align="right" colspan="2">
                                                <input type="checkbox" id="remember_me"
                                                       name="_remember_me" value="on"/>
                                                <label for="remember_me">حفظ تسجيل الدخول </label>


</td>
                                        </tr>
                                        <tr>  <td align="center" colspan="2">
                                                <input type="submit" id="signIn" name="_submit"
                                                                                      class="rc-button rc-button-submit"     value="الإتصال "/></td></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
{% endblock fos_user_content %}


<style>.titre {
        width: 100%;
        color: White;
        text-align: center;
        font-family: Verdana;
        font-size: 18pt;
        font-weight: bold;
        background-color: #16499A;
        position: relative;
        height: 32px;

    }

    .rc-button, .rc-button:visited {
        -moz-user-select: none;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(center top , #f5f5f5, #f1f1f1);
        border: 1px solid #dcdcdc;
        border-radius: 3px;
        color: #444;
        cursor: default;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        height: 36px;
        line-height: 36px;
        min-width: 46px;
        padding: 0 8px;
        text-align: center;
        transition: all 0.218s ease 0s;
    }


     .rc-button {
        padding: 0;
        width: 100%;
    }

    .rc-button-submit, .rc-button-submit:visited {
        background-color: #4d90fe;
        background-image: -moz-linear-gradient(center top , #4d90fe, #4787ed);
        border: 1px solid #3079ed;
        color: #fff;
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);

    }

    input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] {
        -moz-appearance: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: none repeat scroll 0 0 #fff;
        border-color: #c0c0c0 #d9d9d9 #d9d9d9;
        border-image: none;
        border-radius: 1px;
        border-right: 1px solid #d9d9d9;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        color: #404040;
        display: inline-block;
        font-size: 15px;
        height: 36px;
        margin: 0;
        padding: 0 8px;
    }

   .profile-name {
        font-size: 16px;
        font-weight: bold;
        margin: 10px 0 0;
        min-height: 1em;
        text-align: center;
    }

</style>