{% extends '::base.html.twig' %}

{% block body %}

    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}

    {#
    {% if editForms|length > 0 %}
        {% for editForm in editForms %}
            {{ form(editForm) }}
        {% endfor %}
    {% endif %}#}



        <center>
            <br>
            <div id="CPHMain_upGridView">


                <div>
                    {{ html|raw }}
                </div>

            </div>
        </center>

{% endblock %}
