{% extends '::base.html.twig' %}

{% block body %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveeleveeleveeablissementprivee' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}

    {#
    {% if editForms|length > 0 %}
        {% for editForm in editForms %}
            {{ form(editForm) }}
        {% endfor %}
    {% endif %}#}
    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">

                <div>
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse" style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody><tr>
                            <td align="center" colspan="2" style="color:White;background-color:#4F81BD;font-weight:bold;"></td><td align="center" colspan="2" style="color:White;background-color:#4F81BD;font-weight:bold;">الجدد</td><td align="center" colspan="2" style="color:White;background-color:#4F81BD;font-weight:bold;">الراسبون</td><td align="center" colspan="3" style="color:White;background-color:#4F81BD;font-weight:bold;">الجملة</td>
                        </tr><tr>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">مرحلة التعليم</th><th align="center" scope="col" style="color:White;background-color:#4F81BD;">المستوى الدراسي</th><th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th><th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th><th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th><th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th><th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th><th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th><th align="center" scope="col" style="color:White;background-color:#92B3CF;">الجملة</th>
                        </tr><tr>
                            <td rowspan="3">المرحلة ثانية من التعليم الأساسي</td><td>سنة سابعة</td><td align="right">0</td><td align="right">0</td><td align="right">0</td><td align="right">0</td><td align="right" style="background-color:#EEEEEE;">0</td><td align="right" style="background-color:#EEEEEE;">0</td><td align="right" style="background-color:#EEEEEE;">0</td>
                        </tr><tr>
                            <td>سنة ثامنة</td><td align="right">0</td><td align="right">0</td><td align="right">0</td><td align="right">0</td><td align="right" style="background-color:#EEEEEE;">0</td><td align="right" style="background-color:#EEEEEE;">0</td><td align="right" style="background-color:#EEEEEE;">0</td>
                        </tr><tr>
                            <td>سنة تاسعة</td><td align="right">0</td><td align="right">0</td><td align="right">0</td><td align="right">0</td><td align="right" style="background-color:#EEEEEE;">0</td><td align="right" style="background-color:#EEEEEE;">0</td><td align="right" style="background-color:#EEEEEE;">0</td>
                        </tr>
                        </tbody></table>
                </div>

            </div>

        </center>
    {% endif %}
{% endblock %}
