{% extends '::base.html.twig' %}
{% trans_default_domain 'SiseCoreBundle' %}
{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'New', 'TitleContextValue' :  'SecuriteGroupeutilisateur'|trans(), 'RouteAction' : 'securite_groupeutilisateur' })) }}
    <br>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('securite_groupeutilisateur') }}">
         {{ 'list'|trans() }}
        </a>
    </li>
</ul>
{% endblock %}
