{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'New', 'TitleContextValue' :  'SecuriteGroupeutilisateur creation', 'RouteAction' : 'securite_groupeutilisateur' })) }}
    <br>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('securite_groupeutilisateur') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
